.checkout-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: 'Anuphan';
}

.checkout-container h1 {
  text-align: start;
  margin-bottom: 10px;
}

.checkout-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.shipping-column h2,
.cart-column h2 {
  font-weight: 500;
  font-size: large;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.full-name{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.address-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 5px 0 5px 0;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: small;
}

.form-group input, .form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-group input[placeholder],
textarea[placeholder] {
  font-size: small;
  font-family: "Anuphan";
}

.form-group textarea {
  resize: vertical;
}

.cart-column {
  width: 50%;
  padding: 0 20px;
  background-color: #f5f5f5;  
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px; 
  width: auto;
}

.item-image {
  width: 80px;
  height: 80px;
  background-color: #ccc;
  margin-right: 10px;
  border-radius: 10px;
}

.item-details {
  flex: 1;
}

.item-details h3 {
  margin: 0;
  font-size: 16px;
}

.item-details p {
  margin: 5px 0;
  font-size: 14px;
}

.cart-total {
  margin-top: 20px;
  text-align: right;
}

.cart-total h3 {
  margin: 0;
  font-size: 18px;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 500px;
}

.cart-summary p:nth-child(-n+3) {
  margin: 10px 0 10px 0;
  font-weight: 400;
  color: #9f9f9f;
  font-size: 15px;
}

.cart-summary p:nth-child(4){
  margin: 0;
  font-weight: 500;
}

.check-btn {
  display: flex;
  flex-direction: row;
  gap: 1rem
}

.checkout-btn , .cart-btn{
  padding: 10px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  align-self: center;
  margin-top: 20px;
  text-align: center;
}

.checkout-btn {
  background-color: #3e69cd;
}
.checkout-btn:hover {
  background-color: #2f3b55;
}
.cart-btn {
  background-color: #d72a52;
}
.cart-btn:hover {
  background-color: #552f3f;
}