.card{
    flex: 1;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-header h3{
    margin: 0;
    font-weight: 400;
}

.card-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-content p{
    font-size: larger;
    font-weight: bold;
}
.card-content h4{
    margin: 0;
    font-weight: 400;
}