.form-container{
    display: flex;
    justify-content: center;
    width: 500px;
    padding: 10px;
}

.login-form{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    height: auto;

}

.form-group{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0 5px 0 5px;
    margin: 5px;
    width: 100%;
    background-color: #ffffff;
   
  }

.name-column {
    flex: 1;
    display: flex;
    align-items: center;
}


  .form-group i {
    font-size: 20px;
    color: #424242;
    margin: 5px;
  }
  
 
  .form-control{  
    width: 100%;
    padding: 10px;  
    margin: 5px;
    border: none;
    background-color: transparent;
    font-size: medium;
    font-family: 'Anuphan';
  }

  .form-control:focus{
    outline: none;
  }
.login-btn{
    margin: 10px;
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    font-size: medium;
    font-family: 'Anuphan';
  }
  .login-btn:hover{
    background-color: #232a39;
    color: white;
  }


a {
    cursor: pointer;
    text-decoration: none;
    color: #232a39;
}
