<div class="navbar">
  <div class="brand">
    <img src="../../../assets/dripp.png" alt="Logo" class="brand-name">
  </div>   
  <div class="links">
    <a routerLink="/home">Home</a>
    <a routerLink="/store">Store</a>
  </div>
  <div class="container">      
    <div class="user" *ngIf="isLoggedIn(); else loginLink" (click)="toggleDropdown()">
      <a routerLink="/cart" class="cart-link">
        <img src="../../../assets/icons/cart.png" alt="Cart" class="cart-img">
        <span class="cart-count">{{ getTotalCartItemCount() }}</span>
      </a>
      <div class="dropdown" *ngIf="showDropdown">
        <ul>
          <li><a routerLink="/profile">Profile</a></li>
          <li *ngIf="isAdmin()"><a routerLink="/admin">Admin Dashboard</a></li>
          <li *ngIf="!isAdmin()"><a routerLink="/orders">My Orders</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </div>
      <img src="../../../assets/icons/user.png" alt="User" class="user-img">
      
    </div>
    <ng-template #loginLink>     
      <a routerLink="/cart" class="cart-link">
        <img src="../../../assets/icons/cart.png" alt="Cart" class="cart-img">
        <span class="cart-count">{{ getTotalCartItemCount() }}</span>
      </a>
      <a routerLink="/auth" class="login-link">Login</a>
    </ng-template>
  </div>
</div>
