.header{
    background-color: #ccc;
    padding: 5px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    list-style-type: none;
}
li{
    margin: 10px;
}
li a{
    text-decoration: none;
    color: black;
}