.auth-container{
    flex: 1;
    padding: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2{
    margin: 0;
    text-align: center;
}
.login,.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    cursor: pointer;
    color: rgb(34, 119, 255);
    
}
p{
    margin: 0;
}
img{
    width: 150px;
}