<div class="dashboard">
    <div class="cards">
        <app-card title="Total Customers" icon="users" [number]="100" [percentage]="11"></app-card>
        <app-card title="Total Sales" icon="usd" [number]="200" [percentage]="21" ></app-card>
        <app-card title="Total Purchases" icon="shopping-cart" [number]="100" [percentage]="22" ></app-card>
        <app-card title="Shipped Products" icon="truck" [number]="300" [percentage]="45" ></app-card>
    </div>
    <div class="charts">    
        <app-bar></app-bar>
        <app-pie></app-pie> 
    </div>
</div>


